<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chapter 7 Collective Quiz</title>

        {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'firstApp/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'firstApp/bootstrap.css' %}" />

</head>
<body onload="disableAnswerQuestions()">

    <h1 align="center"> Let's Vote </h1>


    {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <a id="{{ question.id }}" onclick="saveQuestionId({{ question.id }})" href="{% url 'firstApp:detail' question.id %}"><h3>{{ question.question_text }}</h3></a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

</body>

<script type="application/javascript">
    function saveQuestionId(question){
        try{
            sessionStorage.setItem("Pregunta "+question,question);
        }catch (ex){
            alert("can not stored ids");
        }
    }
    function disableAnswerQuestions() {
        for(var i = parseInt(sessionStorage.getItem(sessionStorage.key(0))); i < parseInt(sessionStorage.length) + parseInt(sessionStorage.getItem(sessionStorage.key(0))); i++){
            try{
                document.getElementById(sessionStorage.getItem("Pregunta 6")).style.display = "none";
            }
            catch (e){
                alert("can not get element")
            }
        }
        if(sessionStorage.length==10){
            hola = prompt("You have finished, please write your name");
            alert("Thank you "+hola);
            sessionStorage.clear();
            window.location.href='firstApp/finish';
        }

    }
</script>

</html>